
@import "compass/css3";

* { box-sizing: border-box; }

body, html {
    height: 100%;
    background: #eee;
}
body { 
    margin: 0;
    overflow: hidden;

    overflow-y: scroll;    
    font-family:"WorkSans", "antiqueolive";
    font-size: 130%;
    line-height: 1.3;
    color:rgba(0,0,0,.85);

    background: #eee;
}

// body.dragscroll{
//     cursor: move;
//     cursor: grab;
//     cursor: -moz-grab;
//     cursor: -webkit-grab;
// }
// body.dragscroll:active { 
//     cursor: grabbing;
//     cursor: -moz-grabbing;
//     cursor: -webkit-grabbing;
// }
body.locked {
    overflow: hidden;
}

/* ------------------------------ draggable /scrollable */
#pepwrapper{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
} 

.pep { 
    width: calc(100% - 80px);
    opacity: 0;
    position: relative;
    z-index: 2
    //@include transition(all 250ms ease-out);
}
.pep.visible { opacity: 1; }

.pep.related{
    z-index: 0; 
    opacity: 0;
    //@include transition(all 250ms ease-out);
}


/* ------------------------------ articles */
article { 
    position: absolute;    
    // cursor: move;
    //@include transition(all 250ms ease-out);
}
article.hidden{
    visibility: hidden
}
.clone.out{
    //@include transform(translateX(100vw))
    //opacity: 0;
}
article.big {
    // width: 100%;
    padding-left: 0;
    position: absolute;
}
article.big img {
    width: auto;
    height: calc(100vh - 80px);
}
.texte {
    width: 420px;
    max-width: calc(100vw - 80px);
}
.image span, .document span{
    // display: block;
    background: linear-gradient( #eaeaea, #ddd );
}
img { 
    display: block;
    opacity: .8;

}
// .has_related:after{
//     content:'r';
//     position: absolute;
//     bottom:0;
//     background: white
// }
.document {

    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}
.image {

    filter: grayscale(.7);
    -webkit-filter: grayscale(.7);
    -moz-filter: grayscale(.7);
    -o-filter: grayscale(.7);
    -ms-filter: grayscale(.7);
}

.video {
    // filter: grayscale(.7);
    // -webkit-filter: grayscale(.7);
    // -moz-filter: grayscale(.7);
    // -o-filter: grayscale(.7);
    // -ms-filter: grayscale(.7);
}


#clonezone {
    z-index: 2;
    @include display-flex;
}
#relzone{
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 40px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    opacity: 0;
    @include transition(opacity 250ms ease-out);
}
#relzone.visible {
    opacity: 1
}
#relzone article {
    width:100%;
    margin-bottom: 40px;
}
#relzone article img {
    max-width: 100%;
    height: auto
}
/* ------------------------------ home */


#home {
    background: #eee;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    @include transition(opacity 250ms ease-out);
    z-index: 900;
}

#home.invisible{
    opacity: 0;
}
h1, h2 {
    font-size: 1em;
    font-weight: normal;
}
h1 { font-weight: bold; }
#home p {
    text-align: center;
    font-size: .75em;
}

.intro {
    position: relative;
    top: -1em;
}
.loading, .loaded {
    opacity: 1;
    top:0px;
    position: absolute;
    @include transition(all 250ms ease-out);
    width: 100%;
}
.loaded {
    opacity: 0;
    top:20px;
    @include transition(all 250ms ease-out 150ms);
}
.loading.invisible {
    opacity: 0;
    top: -5px;
}
.loaded.visible {
    opacity: 1;
    top: 0px;
}



/* ------------------------------ nav */

#header{
    position: fixed;
    z-index: 850;
    top: 0;
    left: 0;
    height: 100%;
    left:100%;
    @include transition(all 0.3s ease-out);
} 
#header { width: 100%; }
#header.is-active{ left:50%; }
#header.is-slided { left:10% }

nav {
    position: absolute;
    z-index: 650;
    background: black;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    color: rgba(255,255,255,.8);
    
}
nav {
}
.menu,
.slide {
    padding: 30px 40px;
}
.urlslide{
    padding: 0
}
.slide iframe {
    height: 100%; width: 100%
}
ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li, p, h1, h2 {
    margin: .65em 0;
}
.menu a {color: rgba(255,255,255,.8); text-decoration: none;}
article.menu a {color: rgba(0,0,0,1); text-decoration: none;}
.menu h1, 
.menu h2 { margin: 0; }
.hamburger {
    z-index: 650;
    position: absolute;
    left: -60px;
    top: 20px;
}
.hamburger .line{
  width: 35px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 8px auto;
  // @include transition(all 0.3s ease-out);
}

.hamburger:hover{
  cursor: pointer;
}

// nav.is-active ~ .hamburger {
//     right: calc(50% + 20px)
// }
// nav.is-slided ~ .hamburger {
//     right: calc(90% + 20px)
// }
// nav.is-active ~ .hamburger .line:nth-child(1){
//   @include transform(translateY(10px));
// }

// nav.is-active ~ .hamburger .line:nth-child(3){
//   @include transform(translateY(-10px));
// }


#header.is-active .line:nth-child(2){
  opacity: 0;
}

#header.is-active .line:nth-child(1){
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

#header.is-active .line:nth-child(3){
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

/* ------------------------------ slides */
.slide {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    z-index: 850;
    background: black;
    height: 100%;
    width: 90%;
    right: 0;
    color: rgba(255,255,255,.8);
    @include transition(all 0.3s ease-out);
    left:100%
}
.urlslide { width: calc(90% - 20px); }
.content { max-width: 600px; }

.slide.visible{
    left:10%
}
.urlslide.visible{
    left:20px
}

#header.is-slided nav{
    left:0;
    opacity: .8;
}
#header.is-slided nav:after {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; left:  0; bottom: 0;
    background: rgba(0,0,0,.8);
}
