/* line 4, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../scss/main.scss */
body, html {
  height: 100%;
  background: #eee;
}

/* line 10, ../scss/main.scss */
body {
  margin: 0;
  /* overflow: hidden; */
  font-family: "antiqueolive";
  font-size: 150%;
  color: rgba(0, 0, 0, 0.85);
  background: #eee;
}

/* line 20, ../scss/main.scss */
body.dragscroll {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* line 26, ../scss/main.scss */
body.dragscroll:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* line 31, ../scss/main.scss */
body.locked {
  overflow: hidden;
}

/* ------------------------------ draggable /scrollable */
/* line 36, ../scss/main.scss */
.pep {
  width: 1000px;
  height: 1000px;
  opacity: 0;
  -moz-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

/* line 42, ../scss/main.scss */
.pep.visible {
  opacity: 1;
}

/* ------------------------------ articles */
/* line 46, ../scss/main.scss */
article {
  position: absolute;
  cursor: move;
}

/* line 50, ../scss/main.scss */
.texte {
  width: 420px;
  max-width: calc(100vw - 80px);
}

/* line 54, ../scss/main.scss */
.image, .document {
  background: linear-gradient(#eaeaea, #dddddd);
}

/* line 57, ../scss/main.scss */
img {
  display: block;
  opacity: .8;
}

/* line 61, ../scss/main.scss */
.image img:nth-child(2) {
  position: absolute;
  width: 100%;
  top: 0;
}

/* line 67, ../scss/main.scss */
.document img:nth-child(2) {
  position: absolute;
  width: 100%;
  top: 0;
}

/* line 72, ../scss/main.scss */
.document {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

/* line 80, ../scss/main.scss */
.image {
  filter: grayscale(0.7);
  -webkit-filter: grayscale(0.7);
  -moz-filter: grayscale(0.7);
  -o-filter: grayscale(0.7);
  -ms-filter: grayscale(0.7);
}

/* ------------------------------ home */
/* line 92, ../scss/main.scss */
#home {
  background: #eee;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  z-index: 900;
}

/* line 108, ../scss/main.scss */
#home.invisible {
  opacity: 0;
}

/* line 111, ../scss/main.scss */
h1, h2 {
  font-size: 1em;
  font-weight: normal;
}

/* line 115, ../scss/main.scss */
h1 {
  font-weight: bold;
}

/* line 116, ../scss/main.scss */
#home p {
  text-align: center;
  font-size: .75em;
}

/* line 121, ../scss/main.scss */
.intro {
  position: relative;
  top: -1em;
}

/* line 125, ../scss/main.scss */
.loading, .loaded {
  opacity: 1;
  top: 0px;
  position: absolute;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  width: 100%;
}

/* line 132, ../scss/main.scss */
.loaded {
  opacity: 0;
  top: 20px;
  -moz-transition: all 250ms ease-out 150ms;
  -o-transition: all 250ms ease-out 150ms;
  -webkit-transition: all 250ms ease-out;
  -webkit-transition-delay: 150ms;
  transition: all 250ms ease-out 150ms;
}

/* line 137, ../scss/main.scss */
.loading.invisible {
  opacity: 0;
  top: -5px;
}

/* line 141, ../scss/main.scss */
.loaded.visible {
  opacity: 1;
  top: 0px;
}

/* ------------------------------ nav */
/* line 149, ../scss/main.scss */
nav {
  position: fixed;
  z-index: 650;
  background: black;
  height: 100%;
  width: 90%;
  right: 0;
  top: 0;
  color: white;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 161, ../scss/main.scss */
nav.is-active {
  -moz-transform: translateX(40%);
  -ms-transform: translateX(40%);
  -webkit-transform: translateX(40%);
  transform: translateX(40%);
}

/* line 164, ../scss/main.scss */
.menu,
.slide {
  padding: 30px 40px;
}

/* line 168, ../scss/main.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 173, ../scss/main.scss */
li {
  margin-bottom: .5em;
}

/* line 176, ../scss/main.scss */
.menu a {
  color: white;
  text-decoration: none;
}

/* line 177, ../scss/main.scss */
.menu h1,
.menu h2 {
  margin: 0;
}

/* line 179, ../scss/main.scss */
.hamburger {
  position: fixed;
  left: -60px;
  top: 20px;
}

/* line 184, ../scss/main.scss */
.hamburger .line {
  width: 35px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 8px auto;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 193, ../scss/main.scss */
.hamburger:hover {
  cursor: pointer;
}

/* line 198, ../scss/main.scss */
nav.is-active .line:nth-child(1) {
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

/* line 202, ../scss/main.scss */
nav.is-active .line:nth-child(3) {
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* ------------------------------ slides */
/* line 208, ../scss/main.scss */
.slide {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  z-index: 850;
  background: black;
  height: 100%;
  width: 75%;
  right: 0;
  color: white;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 221, ../scss/main.scss */
.content {
  max-width: 600px;
}

/* line 222, ../scss/main.scss */
.slide.visible {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

/* line 225, ../scss/main.scss */
nav.is-slided {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: .8;
}

/* line 229, ../scss/main.scss */
nav.is-slided:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
