/* line 4, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../scss/main.scss */
body, html {
  height: 100%;
  background: #eee;
}

/* line 10, ../scss/main.scss */
body {
  margin: 0;
  /* overflow: hidden; */
  font-family: "antiqueolive";
  font-size: 150%;
  color: rgba(0, 0, 0, 0.85);
  background: #eee;
}

/* line 20, ../scss/main.scss */
body.dragscroll {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* line 26, ../scss/main.scss */
body.dragscroll:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* line 31, ../scss/main.scss */
body.locked {
  overflow: hidden;
}

/* ------------------------------ draggable /scrollable */
/* line 36, ../scss/main.scss */
#pepwrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 45, ../scss/main.scss */
.pep {
  width: 1000px;
  height: 1000px;
  opacity: 0;
  -moz-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

/* line 51, ../scss/main.scss */
.pep.visible {
  opacity: 1;
}

/* ------------------------------ articles */
/* line 55, ../scss/main.scss */
article {
  position: absolute;
  cursor: move;
}

/* line 59, ../scss/main.scss */
.texte {
  width: 420px;
  max-width: calc(100vw - 80px);
}

/* line 63, ../scss/main.scss */
.image, .document {
  background: linear-gradient(#eaeaea, #dddddd);
}

/* line 66, ../scss/main.scss */
img {
  display: block;
  opacity: .8;
}

/* line 70, ../scss/main.scss */
.image img:nth-child(2) {
  position: absolute;
  width: 100%;
  top: 0;
}

/* line 76, ../scss/main.scss */
.document img:nth-child(2) {
  position: absolute;
  width: 100%;
  top: 0;
}

/* line 81, ../scss/main.scss */
.document {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

/* line 89, ../scss/main.scss */
.image {
  filter: grayscale(0.7);
  -webkit-filter: grayscale(0.7);
  -moz-filter: grayscale(0.7);
  -o-filter: grayscale(0.7);
  -ms-filter: grayscale(0.7);
}

/* ------------------------------ home */
/* line 103, ../scss/main.scss */
#home {
  background: #eee;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  z-index: 900;
}

/* line 119, ../scss/main.scss */
#home.invisible {
  opacity: 0;
}

/* line 122, ../scss/main.scss */
h1, h2 {
  font-size: 1em;
  font-weight: normal;
}

/* line 126, ../scss/main.scss */
h1 {
  font-weight: bold;
}

/* line 127, ../scss/main.scss */
#home p {
  text-align: center;
  font-size: .75em;
}

/* line 132, ../scss/main.scss */
.intro {
  position: relative;
  top: -1em;
}

/* line 136, ../scss/main.scss */
.loading, .loaded {
  opacity: 1;
  top: 0px;
  position: absolute;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  width: 100%;
}

/* line 143, ../scss/main.scss */
.loaded {
  opacity: 0;
  top: 20px;
  -moz-transition: all 250ms ease-out 150ms;
  -o-transition: all 250ms ease-out 150ms;
  -webkit-transition: all 250ms ease-out;
  -webkit-transition-delay: 150ms;
  transition: all 250ms ease-out 150ms;
}

/* line 148, ../scss/main.scss */
.loading.invisible {
  opacity: 0;
  top: -5px;
}

/* line 152, ../scss/main.scss */
.loaded.visible {
  opacity: 1;
  top: 0px;
}

/* ------------------------------ nav */
/* line 161, ../scss/main.scss */
#header {
  position: fixed;
  z-index: 850;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 100%;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 171, ../scss/main.scss */
#header.is-active {
  left: 50%;
}

/* line 175, ../scss/main.scss */
nav {
  position: absolute;
  z-index: 650;
  background: black;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  color: white;
}

/* line 188, ../scss/main.scss */
.menu,
.slide {
  padding: 30px 40px;
}

/* line 192, ../scss/main.scss */
.urlslide {
  padding: 0;
}

/* line 195, ../scss/main.scss */
.slide iframe {
  height: 100%;
  width: 100%;
}

/* line 198, ../scss/main.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 203, ../scss/main.scss */
li {
  margin-bottom: .5em;
}

/* line 206, ../scss/main.scss */
.menu a {
  color: white;
  text-decoration: none;
}

/* line 207, ../scss/main.scss */
.menu h1,
.menu h2 {
  margin: 0;
}

/* line 209, ../scss/main.scss */
.hamburger {
  z-index: 650;
  position: absolute;
  left: -60px;
  top: 20px;
}

/* line 215, ../scss/main.scss */
.hamburger .line {
  width: 35px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 8px auto;
}

/* line 224, ../scss/main.scss */
.hamburger:hover {
  cursor: pointer;
}

/* line 243, ../scss/main.scss */
#header.is-active .line:nth-child(2) {
  opacity: 0;
}

/* line 247, ../scss/main.scss */
#header.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

/* line 254, ../scss/main.scss */
#header.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

/* ------------------------------ slides */
/* line 262, ../scss/main.scss */
.slide {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 850;
  background: black;
  height: 100%;
  width: 90%;
  right: 0;
  color: white;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  left: 100%;
}

/* line 275, ../scss/main.scss */
.urlslide {
  width: calc(100% - 20px);
}

/* line 278, ../scss/main.scss */
.content {
  max-width: 600px;
}

/* line 279, ../scss/main.scss */
.slide.visible {
  left: 10%;
}

/* line 282, ../scss/main.scss */
.urlslide.visible {
  left: 20px;
}

/* line 285, ../scss/main.scss */
#header.is-slided {
  left: 10%;
}

/* line 286, ../scss/main.scss */
#header.is-slided nav {
  left: 0;
  opacity: .8;
}

/* line 290, ../scss/main.scss */
#header.is-slided nav:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
