/* line 4, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../scss/main.scss */
body, html {
  background: #eee;
}

/* line 9, ../scss/main.scss */
body {
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "WorkSans", "antiqueolive";
  font-size: 1.3em;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.85);
  background-attachment: fixed;
  background: #eee;
}

/* line 33, ../scss/main.scss */
body.locked {
  overflow: hidden;
}

/* ------------------------------ draggable /scrollable */
/* line 40, ../scss/main.scss */
#pepwrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* line 50, ../scss/main.scss */
.pep {
  width: calc(100% - 80px);
  opacity: 0;
  position: relative;
  z-index: 2;
}

/* line 57, ../scss/main.scss */
.pep.visible {
  opacity: 1;
}

/* line 59, ../scss/main.scss */
.pep.related {
  z-index: 0;
  opacity: 0;
}

/* ------------------------------ articles */
/* line 67, ../scss/main.scss */
article {
  position: absolute;
}

/* line 72, ../scss/main.scss */
article.hidden {
  visibility: hidden;
}

/* line 79, ../scss/main.scss */
article.big {
  padding-left: 0;
  position: absolute;
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
}

/* line 89, ../scss/main.scss */
article.big img {
  width: auto;
  height: calc(100vh - 80px);
}

/* line 93, ../scss/main.scss */
.texte {
  width: 420px;
  max-width: calc(100vw - 80px);
}

/* line 97, ../scss/main.scss */
.image span, .document span {
  background: linear-gradient(#eaeaea, #dddddd);
}

/* line 101, ../scss/main.scss */
img {
  display: block;
  opacity: .8;
}

/* line 112, ../scss/main.scss */
.document {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

/* line 120, ../scss/main.scss */
.image {
  filter: grayscale(0.7);
  -webkit-filter: grayscale(0.7);
  -moz-filter: grayscale(0.7);
  -o-filter: grayscale(0.7);
  -ms-filter: grayscale(0.7);
}

/* line 129, ../scss/main.scss */
.video video {
  display: none;
}

/* line 137, ../scss/main.scss */
.video.clone span {
  display: none;
}

/* line 140, ../scss/main.scss */
.video.clone video {
  display: block;
}

/* line 144, ../scss/main.scss */
#clonezone {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 68015px;
}

/* line 151, ../scss/main.scss */
#relzone {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 40px;
  overflow: hidden;
  z-index: 0;
  opacity: 0;
  min-width: 200px;
  -moz-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

/* line 163, ../scss/main.scss */
#relzone.visible {
  opacity: 1;
}

/* line 166, ../scss/main.scss */
#relzone article {
  width: calc(50% - 40px);
  max-width: 300px;
  min-width: 120px;
  margin: 0 40px 40px 0 !important;
  float: left;
  position: static !important;
  padding: 0 !important;
}

/* line 175, ../scss/main.scss */
#relzone .texte {
  display: -webkit-box;
  height: 7,1825rem;
  /* Fallback for non-webkit */
  -webkit-line-clamp: 5;
  font-size: .85em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 184, ../scss/main.scss */
#relzone article img {
  max-width: 100%;
  height: auto;
}

/* ------------------------------ home */
/* line 191, ../scss/main.scss */
#home {
  background: #eee;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  z-index: 900;
}

/* line 207, ../scss/main.scss */
#home.invisible {
  opacity: 0;
}

/* line 210, ../scss/main.scss */
h1, h2 {
  font-size: 1em;
  font-weight: normal;
}

/* line 214, ../scss/main.scss */
h1 {
  font-weight: bold;
}

/* line 215, ../scss/main.scss */
#home p {
  text-align: center;
  font-size: .75em;
}

/* line 220, ../scss/main.scss */
.intro {
  position: relative;
  top: -1em;
}

/* line 224, ../scss/main.scss */
.loading, .loaded {
  opacity: 1;
  top: 0px;
  position: absolute;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  width: 100%;
}

/* line 231, ../scss/main.scss */
.loaded {
  opacity: 0;
  top: 20px;
  -moz-transition: all 250ms ease-out 150ms;
  -o-transition: all 250ms ease-out 150ms;
  -webkit-transition: all 250ms ease-out;
  -webkit-transition-delay: 150ms;
  transition: all 250ms ease-out 150ms;
}

/* line 236, ../scss/main.scss */
.loading.invisible {
  opacity: 0;
  top: -5px;
}

/* line 240, ../scss/main.scss */
.loaded.visible {
  opacity: 1;
  top: 0px;
}

/* ------------------------------ nav */
/* line 249, ../scss/main.scss */
#header {
  position: fixed;
  z-index: 850;
  top: 0;
  left: 0;
  height: 100%;
  left: 100%;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 258, ../scss/main.scss */
#header {
  width: 100%;
}

/* line 259, ../scss/main.scss */
#header.is-active {
  left: 50%;
}

/* line 260, ../scss/main.scss */
#header.is-slided {
  left: 10%;
}

/* line 261, ../scss/main.scss */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
}

/* line 267, ../scss/main.scss */
#header.is-active + #overlay {
  z-index: 3;
}

/* line 272, ../scss/main.scss */
nav {
  position: absolute;
  z-index: 650;
  background: black;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  color: rgba(255, 255, 255, 0.8);
}

/* line 285, ../scss/main.scss */
.menu,
.slide {
  padding: 30px 40px;
}

/* line 289, ../scss/main.scss */
.urlslide {
  padding: 0;
}

/* line 292, ../scss/main.scss */
.slide iframe {
  height: 100%;
  width: 100%;
}

/* line 295, ../scss/main.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 300, ../scss/main.scss */
li, p, h1, h2 {
  margin: .65em 0;
}

/* line 303, ../scss/main.scss */
.menu a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

/* line 304, ../scss/main.scss */
article.menu a {
  color: black;
  text-decoration: none;
}

/* line 305, ../scss/main.scss */
.menu h1,
.menu h2 {
  margin: 0;
}

/* line 307, ../scss/main.scss */
.hamburger {
  z-index: 650;
  position: absolute;
  left: -60px;
  top: 20px;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* line 314, ../scss/main.scss */
.hamburger .line {
  width: 35px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 8px auto;
}

/* line 322, ../scss/main.scss */
body.related .hamburger {
  opacity: 0;
}

/* line 326, ../scss/main.scss */
.hamburger:hover {
  cursor: pointer;
}

/* line 345, ../scss/main.scss */
#header.is-active .line:nth-child(2) {
  opacity: 0;
}

/* line 349, ../scss/main.scss */
#header.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

/* line 356, ../scss/main.scss */
#header.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

/* ------------------------------ slides */
/* line 364, ../scss/main.scss */
.slide {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 850;
  background: black;
  height: 100%;
  width: 90%;
  right: 0;
  color: rgba(255, 255, 255, 0.8);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  left: 100%;
}

/* line 377, ../scss/main.scss */
.urlslide {
  width: calc(90% - 20px);
}

/* line 378, ../scss/main.scss */
.content {
  max-width: 600px;
}

/* line 380, ../scss/main.scss */
.slide.visible {
  left: 10%;
}

/* line 383, ../scss/main.scss */
.urlslide.visible {
  left: 20px;
}

/* line 387, ../scss/main.scss */
#header.is-slided nav {
  left: 0;
  opacity: .8;
}

/* line 391, ../scss/main.scss */
#header.is-slided nav:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
